body {
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222;
  color: white;
}

ul {
  list-style-type: none;
}

.item {
  padding: 0.5em;
  border-style: solid;
  border-color: lightgray;
}

.item:hover {
  cursor: pointer;
  border-color: rgb(0, 0, 0);
}

.list-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 200%;
}

.bin:hover {
  cursor: pointer;
}

.markout {
  text-decoration: line-through;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222;
  color: white;
  min-height: 10em;
}

.sorter {
  font-size: large;
  margin: 0.25em;
}

.sorter:hover {
  cursor: pointer;
}
